<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

<div th:fragment="sim_time">
    Current simulation time [[${counter}]]
</div>


<div th:fragment="comp_state">
    Current Simulation time [[${now}]]

    <!--@thymesVar id="simState" type="org.kalasim.webui.SimState"-->
    <div th:if="${not #lists.isEmpty(simState.getStates())}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <!--                <th>Daemon</th>-->
                <!--                <th>Network</th>-->
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="compState : ${simState.getStates()}">
                <td th:text="${compState.getName()}"></td>
                <td th:text="${compState.getState()}"></td>
                <!--                <td th:text="${compState.}"></td>-->
                <!--                <td th:text="${compState.network }"></td>-->
                <td>
                    <a th:href="@{'env/' + ${compState.name}}" class="btn btn-primary btn-sm" role="button">Edit</a>
                    <a th:href="@{'delenv/' + ${compState.name}}" class="btn btn-danger btn-sm" role="button">Delete</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>
</html>