site_name: kalasim - discrete event simulator

site_url: https://www.kalasim.org
site_author: Holger Brandl
site_description: >-
  Discrete event simulator with type support, dependency injection, modern persistence and logging to enable large-scale, industrial-ready simulations
repo_name: holgerbrandl/kalasim
repo_url: https://github.com/holgerbrandl/kalasim
edit_uri: "tree/master/docs/userguide/docs"

# Copyright
copyright: Copyright &copy; 2021 Holger Brandl

theme:
  name: material
#  highlightjs: true
#  hljs_languages:
#    - kotlin
#  navigation_depth: 3
  features:
    - navigation.expand
    - navigation.instant
    - navigation.tabs

nav:
  - Home:
    - Introduction: index.md
    - Theory: theory.md
    - Setup: setup.md
    - FAQ: faq.md
    - What's New: changes.md

  - Basics:
    - Simulation Basics: basics.md
    - Components: component.md
    - Resources: resource.md
    - States: state.md
    - Collections: collections.md

  - Analysis:
    - analysis.md
    - Event Log: event_log.md
    - Monitors: monitors.md
    - Visualization: visualization.md

  - Examples:
    - Overview: examples.md
    - Car: examples/car.md
    - Traffic: examples/traffic.md
    - Bank Office: examples/bank_office.md
    - Movie Theater: examples/movie_theater.md
    - Car Wash: examples/car_wash.md
    - ATM Queue: examples/atm_queue.md
    - Gas Station: examples/gas_station.md
    - Bridge Game: examples/bridge_game.md
    - Machine Parts: examples/machine_parts.md
    - Machine Shop: examples/machine_shop.md
    - Dining Philosophers: examples/dining_philosophers.md
    - Office Tower: examples/office_tower.md
    - The Ferryman: examples/ferryman.md

  - Advanced:
    - advanced.md

  - About:
    - about.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/holgerbrandl
    - icon: fontawesome/brands/gitter
      link: https://gitter.im/holgerbrandl/kalasim
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/holgerbrandl
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/holgerbrandl/

# adopted from https://github.com/squidfunk/mkdocs-material/issues/748
extra_css:
  - 'stylesheets/extra.css'
  -
markdown_extensions:
  - markdown_include.include:
#      base_path: examples/kotlin
      base_path: ../../src/test/kotlin/org/kalasim/examples
  - footnotes
  - admonition
  - attr_list
  - pymdownx.highlight:
#      linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format

            #extra_css:
          #  - https://unpkg.com/mermaid@7.1.2/dist/mermaid.css
extra_javascript:
  - https://unpkg.com/mermaid@8.8.4/dist/mermaid.min.js
